@import '../../../../assets/style/helpers';
.add-event {
    padding: 20px;
    background-color: $card-color;
    border-radius: 8px;
    &__title {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        color: $card-color-text;
    }
}