<section class="bill-card">
    <h3 class="bill-card__title">
        Счёт
    </h3>
    <table class="bill-card__table">
        <tr>
            <td class="bill-card__table-cell bill-card__table-cell--icon"></td>
            <td class="bill-card__table-cell bill-card__table-cell--count"></td>
        </tr>
        <tr>
            <td class="bill-card__table-cell bill-card__table-cell--icon"></td>
            <td class="bill-card__table-cell bill-card__table-cell--count"></td>
        </tr>
        <tr>
            <td class="bill-card__table-cell bill-card__table-cell--icon"></td>
            <td class="bill-card__table-cell bill-card__table-cell--count"></td>
        </tr>
    </table>
</section>