// media
$width-mobile: '(max-width: 767px)';
$width-tablet: '(min-width: 768px)';
$width-tablet-only: '(min-width: 768px) and (max-width: 1189px)';
$width-desktop: '(min-width: 1190px)';
$width-desktop-external: '(min-width: 1218px)';
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
//colors
$color_grey: #4f5f6f;
$color_grey2: #ccc;
$color_grey3: #667380;
$color_grey4: #97a4b1;
$color_blue: #31a7c1;
$color_white: #fff;
$color_red: #fc7b7b;
// fonts
$font-system: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Helvetica,
Arial,
sans-serif;
$open-sans: 'Open Sans',
$font-system;
$monserat: 'Montserrat',
$font-system;