@import '../../../assets/style/_variables.scss';
@import '../../../assets/style/common/inputs';
@keyframes errorInput {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes bling {
    50% {
        stroke-dasharray: 3;
        stroke-dashoffset: 12;
    }
    100% {
        stroke-dasharray: 3;
        stroke-dashoffset: 9;
    }
}

@keyframes locked {
    50% {
        transform: translateY(1px);
    }
}

.registration {
    width: 100vw;
    height: 100%;
    padding: 30px 25px;
    background-color: $color_white;
    @media ($width-tablet) {
        width: 450px;
        min-height: 364px;
        padding: 30px 50px;
    }
    &__text {
        margin: 0;
        margin-bottom: 20px;
        font-family: $open-sans;
        font-size: 15px;
        color: $color_grey;
        text-align: center;
    }
    &__wrapper {
        min-height: 80px;
        &--agree {
            position: relative;
            padding: 35px 55px 0;
        }
    }
    &__label {
        display: block;
        margin-bottom: 10px;
        font-weight: 700;
        color: $color_grey;
    }
    &__input {
        &--error {
            position: relative;
            border-bottom: 2px solid $color_red;
            animation: errorInput 1s;
        }
    }
    &__message {
        position: relative;
        top: -3px;
        font-size: 10px;
        &--error {
            color: $color_red;
        }
        &--success {
            color: $color_green;
        }
    }
    &__checkbox {
        margin-right: 10px;
    }
    &__btn {
        @include btn-reset();
        display: inline-block;
        width: 100%;
        height: 38px;
        margin: 20px auto;
        font-weight: 400;
        text-align: center;
        line-height: 15px;
        vertical-align: middle;
        color: $color-white;
        background-color: $color-blue;
        &--grey {
            color: $color_grey3;
            background-color: $color_grey2;
        }
        &:disabled {
            color: $color_grey3;
            background-color: $color_grey2;
        }
    }
    &__link {
        text-decoration: none;
        color: $color-blue;
    }
    &__label--lock {
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        background: #ff5b5b;
        width: 45px;
        height: 45px;
        box-sizing: border-box;
        padding: 7px 12px;
        border-radius: 50%;
        cursor: pointer;
        svg {
            fill: none;
            transform: translate3d(0, 0, 0);
        }
        svg .bling {
            stroke: #fff;
            stroke-width: 2.5;
            stroke-linecap: round;
            stroke-dasharray: 3;
            stroke-dashoffset: 15;
            transition: all 0.3s ease;
        }
        svg .lock {
            stroke: #fff;
            stroke-width: 4;
            stroke-linejoin: round;
            stroke-linecap: round;
            stroke-dasharray: 36;
            transition: all 0.4s ease;
        }
        svg .lockb {
            fill: #fff;
            fill-rule: evenodd;
            clip-rule: evenodd;
            transform: rotate(8deg);
            transform-origin: 14px 20px;
            transition: all 0.2s ease;
        }
    }
    #agree {
        display: none;
    }
    #agree:checked+label {
        background: #20cca5;
    }
    #agree:checked+label svg {
        opacity: 1;
    }
    #agree:checked+label svg .bling {
        animation: bling 0.3s linear forwards;
        animation-delay: 0.2s;
    }
    #agree:checked+label svg .lock {
        stroke-dasharray: 48;
        animation: locked 0.3s linear forwards;
    }
    #agree:checked+label svg .lockb {
        transform: rotate(0);
        transform-origin: 14px 22px;
    }
}