<section class="registration">
    <p class="registration__text">Регистрация для получения доступа</p>
    <form>
        <div class="registration__wrapper">
            <label class="registration__label" for="email">Email</label>
            <input type="email" class="inputs registration__input" id="email" placeholder="Введите email">
        </div>
        <div class="registration__wrapper has-error">
            <label class="registration__label" for="password">Пароль</label>
            <input type="password" class="inputs registration__input" id="password" placeholder="Введите пароль">
            <span class="registration__error">Error message.</span>
        </div>
        <div class="registration__wrapper">
            <label class="registration__label" for="name">Имя</label>
            <input type="text" class="inputs registration__input" id="name" placeholder="Введите имя">
            <span class="registration__success">Success message.</span>
        </div>
        <div class="registration__wrapper">
            <label class="registration__label" for="agree">
                <input class="registration__checkbox" id="agree" type="checkbox">
                <span class="registration__text">Согласен с правилами</span>
            </label>
        </div>
        <div class="registration__wrapper">
            <button type="submit" class="btn btn-block btn-primary">Зарегистрироваться</button>
        </div>
        <div class="registration__wrapper">
            <p class="text-muted text-xs-center">
                Уже есть аккаунт?
                <a href="#">
                    Войти!
                </a>
            </p>
        </div>
    </form>
</section>