<article class="modal-content modal">
    <div class="modal__inner">
        <h3 class="modal__title">
            Запись #{{ action.id }}
        </h3>
        <button class="modal__close" (click)="modalInstance.close()" title="Закрыть"></button>
        <section class="modal__card">
            <p class="modal__card-title" [ngClass]="{'modal__card-title--income' : action.type === 'income'}">
                {{ action.type === 'income' ? 'Доход' : 'Расход' }}
            </p>
            <ul class="modal__list">
                <li>Сумма: <strong> {{ action.amount }} &#8364;</strong></li>
                <li>Категория: <strong> {{ action.categoryName }} </strong></li>
                <li>Комментарий: <strong> {{ action.description }} </strong></li>
            </ul>
            <p> {{ action.date }} </p>
            <button class="card__form-btn" (click)="modalInstance.close()">Понятно</button>
        </section>
    </div>
</article>