<section class="card card--wild">
    <header class="card__header">
        <h3 class="card__title">Список событий</h3>
        <div class="card__wrapper">
            <input [(ngModel)]="searchValue" class="inputs card__search" type="search" [placeholder]="searchPlaceholder" />
            <select name="" id="">
                <option (click)="selectOption('amount')">Сумма</option>
                <option (click)="selectOption('date')">Дата</option>
                <option (click)="selectOption('category')">Категория</option>
                <option (click)="selectOption('type')">Тип</option>
            </select>
        </div>
    </header>
    <table class="card__table">
        <thead>
            <tr class="card__table-row">
                <th class="card__table-cell">#</th>
                <th class="card__table-cell">Сумма</th>
                <th class="card__table-cell">Дата</th>
                <th class="card__table-cell">Категория</th>
                <th class="card__table-cell">Тип</th>
                <th class="card__table-cell">Действие</th>
            </tr>
        </thead>
        <tbody>
            <tr class="card__table-row" *ngFor="let action of actions | filter: searchValue:searchField; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td class="card__table-cell">{{ action.amount | number: '1.2' }}</td>
                <td class="card__table-cell">{{ action.date }}</td>
                <td class="card__table-cell">{{ action.categoryName }}</td>
                <td class="card__table-cell">
                    <span *ngIf="action.type === 'outcome'">Расход</span>
                    <span *ngIf="action.type === 'income'">Доход</span>
                </td>
                <td class="card__table-cell">
                    <button class="card__form-btn" (click)="openDetail(action)">Открыть</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>