@import '../../../../../assets/style/_variables';
@import '../../../../../assets/style/mixins';
@import '../../../../../assets/style/_visually-hidden';
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px 20px;
    background-color: $header_color;
    @media ($width-desktop) {
        padding: 0;
    }
    &__title {
        z-index: 100;
        width: 200px;
        margin-right: auto;
        margin-left: 15px;
        font-size: 25px;
        font-weight: 400;
        color: rgba($aside_text_color, 0.5);
    }
    &__menu {
        @include btn-reset();
        position: relative;
        width: 30px;
        height: 3px;
        background-color: $header_text_color;
        border: none;
        outline: none;
        &:before {
            content: '';
            position: absolute;
            top: -10px;
            left: 0;
            width: 30px;
            height: 3px;
            background-color: $header_text_color;
            cursor: pointer;
        }
        &:after {
            content: '';
            position: absolute;
            top: 10px;
            left: 0;
            width: 30px;
            height: 3px;
            background-color: $header_text_color;
            cursor: pointer;
        }
        &--closed {
            transform: rotate(45deg);
            &:before {
                top: 0;
                left: 0;
                transform: rotate(-90deg);
            }
            &:after {
                display: none;
            }
        }
        @media ($width-desktop) {
            display: none;
        }
    }
    &__logo {
        @media ($width-desktop) {
            position: relative;
            z-index: 2;
            margin-left: 20px;
        }
    }
    &__user-menu {
        @include btn-reset();
        position: relative;
        width: 40px;
        height: 30px;
        background-image: url(~/assets/img/user.svg);
        background-repeat: no-repeat;
        background-position: 0 center;
        &:after {
            content: '';
            position: absolute;
            top: 14px;
            right: -5px;
            display: inline-block;
            margin: 0 5px;
            width: 0;
            height: 0;
            vertical-align: middle;
            border-top: solid 5px $main_accent;
            border-left: solid 5px transparent;
            border-right: solid 5px transparent;
            transform: rotate(180deg);
            transition: transform 0.3s linear;
        }
        &--closed {
            &::after {
                transform: rotate(0deg);
            }
        }
        @media ($width-desktop) {
            margin: 50px;
        }
    }
    &__nav {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        width: 100vw;
        height: auto;
        background-color: $header_color;
        transform: translateY(-53px);
        opacity: 0;
        transition: transform 0.2s linear;
        @media ($width-desktop) {
            right: 50px;
            left: auto;
            width: 250px;
            height: 70px;
            transform: translateY(-70px);
        }
        &--open {
            z-index: 1;
            transform: translateY(50px);
            opacity: 1;
            transition: transform 0.2s linear;
            @media ($width-desktop) {
                transform: translateY(70px);
            }
        }
    }
    &__link {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: $header_text_color;
        cursor: pointer;
        &:hover,
        &:active,
        &:focus {
            background-color: darken($color: ($header_color), $amount: 10%)
        }
    }
}