<header class="header">
    <button class="header__menu" [ngClass]="{'header__menu--closed' : isOpenMobileMenu}" aria-label="Кнопка открытия меню" (click)="toggleMobileMenu()"></button>
    <a href="/">
        <img class="header__logo" src="../../assets/img/logo.svg" width="40" heigh="40" alt="Логотип Домашней бухгалтерии">
    </a>
    <h1 class="header__title">Домашняя бухгалтерия</h1>
    <button class="header__user-menu" [ngClass]="{'header__user-menu--closed': isOpenUserMenu}" aria-label="Кнопка открытия меню" (click)="toggleUserMenu()"></button>
    <nav class="header__nav" [ngClass]="{'header__nav--open' : isOpenUserMenu}">
        <label class="header__label" for="dark-mode">
            <input class="header__checkbox" type="checkbox" [checked]="isDarkTheme" id="dark-mode">
            Включить тёмную тему
        </label>
        <a class="header__link" (click)="onLogout()">Выход</a>
    </nav>
</header>