@import '../../../../../assets/style/_variables';
@import '../../../../../assets/style/mixins';
@import '../../../../../assets/style/_visually-hidden';
.aside {
    display: block;
    width: 100%;
    height: 100%;
    background-color: $header_color;
    @media ($width-desktop) {
        position: relative;
        z-index: 1;
        padding-top: 70px;
        transform: none;
        transition: none;
        background-color: $aside_color;
    }
    &__list {
        @include ul-reset;
    }
    &__item-link {
        display: inline-flex;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
        text-decoration: none;
        color: $header_text_color;
        @media ($width-desktop) {
            padding: 10px 50px;
            color: rgba($aside_text_color, 0.5);
        }
        svg {
            margin-right: 10px;
        }
        &:focus {
            color: $aside_text_color;
        }
        &:hover {
            color: $aside_text_color;
            background-color: darken($aside_color, 10%);
            svg {
                fill: $aside_text_color;
            }
        }
        &:active {
            color: $aside_text_color;
            background-color: $aside_active_color;
        }
        &--active {
            color: $aside_text_color;
            background-color: $aside_active_color;
            svg {
                fill: $aside_text_color;
            }
        }
    }
}