<aside class="aside" [ngClass]="{'aside--open' : isOpenMobileMenu}">
    <ul class="aside__list">
        <li class="aside__list-item aside__list-item--bill">
            <a>Счёт</a>
        </li>
        <li class="aside__list-item aside__list-item--history">
            <a>История</a>
        </li>
        <li class="aside__list-item aside__list-item--planning">
            <a>Планирование</a>
        </li>
        <li class="aside__list-item aside__list-item--add">
            <a>Запись</a>
        </li>
    </ul>
</aside>