@import '../../assets/style/variables';
@import '../../assets/style/mixins';
@import '../../assets/style/_visually-hidden';
.system {
    display: block;
    width: 100vw;
    @media ($width-desktop) {
        display: grid;
        grid-template-columns: 250px 1fr 1fr;
        grid-template-rows: 70px 1fr;
        height: 100vh;
    }
    &__header {
        width: 100vw;
        height: 50px;
        @media ($width-desktop) {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            height: 70px;
        }
    }
    &__aside {
        display: block;
        width: 100vw;
        height: auto;
        @media ($width-desktop) {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            width: 250px;
        }
    }
    &__section {
        background-color: $main-color;
        @media ($width-desktop) {
            grid-column: 2 / 4;
            grid-row: 2 / 3;
        }
    }
}